pandas
numpy
matplotlib
seaborn
scipy


#models
scikit-learn
catboost
xgboost

#setup
notebook
python-box==6.0.2
pyYAML
tqdm
ensure==1.0.2
joblib
types-PyYAML 
dill

# Deployment 
Flask
Flask-Cors
tensorflow
mlflow==2.2.2

-e . #for setup.py
