pandas
numpy
matplotlib
seaborn
scipy


#models
scikit-learn
catboost
xgboost

#setup
notebook
python-box==6.0.2
pyYAML
tqdm
ensure
joblib
types-PyYAML
dill

# Deployment 
Flask
Flask-Cors
tensorflow

-e . #for setup.py
